<header class="header">
   <div class="container">
    <div class="header-top">
        <a class="header-logo" href="#">
            <img src="./img/logo.svg" alt="logo" width="50" class="header-logo__img">
        </a>
        <div class="user-panel">
            <div class="user-panel__name">Arthur Wood</div>
            <div class="user-panel__thumb">
                <img src="./img/user-thumb.jpg" alt="user-thumb" class="avatar-img" width="32">
            </div>
            <ul class="user-panel__controllers">
                
                <li class="controller">
                    <button class="controller__button"> 
                        <svg class="icon">
                            <use xlink:href="./img/icons/sprite.svg#a_icon_arrow"></use>
                         </svg>
                    </button>
                </li>
                <li class="controller">
                    <button class="controller__button">
                        <img src="./img/icons/notifications.svg" alt="notification" class="icon" width="32">
                    </button>
                </li>
                <li class="controller">
                    <button class="controller__button">
                        <img src="./img/icons/share.svg" alt="share" class="icon" width="32">
                    </button>
                </li>
                <li class="controller">
                    <button class="controller__button">
                        <svg class="icon">
                            <use xlink:href="./img/icons/sprite.svg#medium"></use>
                         </svg>
                    </button>
                </li>
            </ul>
        </div>
       
    </div>
    <nav class="navigation">
        <menu class="navigation__menu">
            <li class="navigation__menu-item">
                <a href="" class="navigation__menu-link active-link">FEED</a>
            </li>
            <li class="navigation__menu-item">
                <a href="" class="navigation__menu-link">EXPLORE</a>
            </li>
            <li class="navigation__menu-item">
                <a href="" class="navigation__menu-link">DISCUSSIONS</a>
            </li>
        </menu>
        <div class="action-btn"></div>
    </nav>
   </div>
</header>