<main class="main container">
    <aside class="user-details">
       <div class="profile">
           <div class="profile__avatar">
               <img src="./img/avatar.jpg" alt="avatar" class="pofile__avatar-img" width="120">
           </div>
           <div class="profile__user">
            <div class="profile__user-name">
                Benjamin <br> Clementine
            </div>
            <a class="profile-user-tag" href="#">@benclementine</a>
            <a href="#" class="profile-user__edit-btn">Edit Profile</a>
           </div>
           <div class="profile-edit">
               <div class="profile-dots-menu">
                    <button class="brofile-dots-menu__btn" id="profileEditBtn">
                            <img src="./img/icons/icon_3_dots_menu.svg" alt="edit dots" class="brofile-dots-menu__img">
                        </button>
               </div>
           </div>
           <menu class="edit-menu" id="editMenu">
               <li class="edit-menu__item">
                   <button class="edit-menu__btn">
                       <img src="./img/icons/icon_report.svg" alt="icon report">
                       <span class="btn-action">Report User</span>
                   </button>
               
               </li>
               <li class="edit-menu__item">
                <button class="edit-menu__btn">
                    <img src="./img/icons/icon_block.svg" alt="icon block">
                    <span class="btn-action">Block User</span>

                </button>
               </li>
           </menu>
       </div>
       <ul class="followers-list">
            <li class="followers-list__item" >
               <p class="followers-info" id="synths">synths</p>
            </li>
            <li class="followers-list__item" >
               <p class="followers-info" id="followers">followers</p>
            </li>
            <li class="followers-list__item" >
               <p class="followers-info" id="following">following</p>
            </li>
    </ul>
    <p class="description">
        Cryptocurrencies including Ethereum, Ripple, and Litecoin have all plunged between 20 to 30 percent each, according to CoinMarketCap. Here is the latest Ripple price news and live updates on XRP, bitcoin and Ethereum.
    </p>
    </aside>
    <section class="posts">
        
        <div class="switcher-block">
            <p class="swither-position">Public</p>
            <div class="switcher">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
            </div>
            <p class="swither-position">Private</p>
        </div>
        <ul class="posts__list">
            <li class="posts__list-post">
                <div class="post-header"></div>
                <div class="post-main">
                    <h3 class="post-title">New air routes that promise cheap flights in</h3>
                </div>
                <div class="post-footer">
                    <div class="post-maker">
                        <div class="post-maker__avatar"></div>
                        <p class="post-maker__name">Gregory Watkins</p>
                    </div>
                    <button class="post-share__btn">Share</button>
                </div>
            </li>
            <li class="posts__list-post">
                <div class="post-header"></div>
                <div class="post-main">
                    <h3 class="post-title">New air routes that promise cheap flights in</h3>
                </div>
                <div class="post-footer">
                    <div class="post-maker">
                        <div class="post-maker__avatar"></div>
                        <p class="post-maker__name">Gregory Watkins</p>
                    </div>
                    <button class="post-share__btn">Share</button>
                </div>
            </li>
            <li class="posts__list-post">
                <div class="post-header">
                    <p class="post-header__shared-info">
                        Shared to
                        <span class="post-header__sshared-info--hash">
                            #discussionaboutanimgttdd...
                        </span>
                    </p>
                   
                </div>
                <div class="post-main">
                    <h3 class="post-title">New air routes that promise cheap flights in</h3>
                </div>
                <div class="post-footer">
                    <div class="post-maker">
                        <div class="post-maker__avatar"></div>
                        <p class="post-maker__name">Gregory Watkins</p>
                    </div>
                   <div class="post__buttons">
                    <button class="post-share__view-btn">
                        <img src="./img/icons/icon_view.svg" alt="view icon" class="post-__btn-img">
                    </button>
                    <button class="post-share__like-btn">
                        <img src="./img/icons/icon_like.svg" alt="like icon" class="post__btn-img">
                    </button>
                   </div>
                </div>
            </li>
            <li class="posts__list-post">
                <div class="post-header">
                    <p class="post-header__shared-info shared-via">
                        Shared via weblink
                    </p>
                   
                </div>
                <div class="post-main">
                    <h3 class="post-title">New air routes that promise cheap flights in</h3>
                </div>
                <div class="post-footer">
                    <div class="post-maker">
                        <div class="post-maker__avatar"></div>
                        <p class="post-maker__name">Gregory Watkins</p>
                    </div>
                   <div class="post__buttons">
                    <button class="post-share__view-btn">
                        <img src="./img/icons/icon_view.svg" alt="view icon" class="post-__btn-img">
                    </button>
                    <button class="post-share__like-btn">
                        <img src="./img/icons/icon_like.svg" alt="like icon" class="post__btn-img">
                    </button>
                   </div>
                </div>
            </li>
        </ul>
    </section>
</main>