* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: #F2F2F2;
}
.container {
    max-width: 1170px ;
    margin: 0 auto;
    padding: 15px;
}
%fix-size {
    width: 32px;
    height: 32px;
}
button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
