$mainColor: #3E3F58;
$accentColor: #F05D63;
$semiMainColor: #3E4056;
$greyColor: #636363;
$semiGreyColor: #B2B3BB;
$gradient: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);

$fontOpenSans: 'Open Sans', sans-serif;
$fontMontserat: 'Montserrat', sans-serif;